.clasess-container {
    margin: auto;
    margin-top: 40px;
    padding: 10px;
    max-width: 1200px;
}

.clasess-container h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #0C214A;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.card-slide {
    padding: 10px 35px 10px 35px; /* Espacio entre las tarjetas */
    margin-bottom: 45px;
}

.card-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 350px; /* Ajusta el tamaño máximo de la tarjeta */
    height: 600px; /* Ajusta la altura de las tarjetas para que todas sean iguales */
    margin: auto;
    transition: transform 0.2s;
    background-color: #fff;
}

.card-container:hover {
    transform: scale(1.02); 
}

.card-data {
    flex-grow: 1;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.card-data h3 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #437F97;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.card-data p {
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 15px;
    flex-grow: 1; /* Permite que los textos se expandan uniformemente */
}

.img-container {
    flex-shrink: 0;
    height: 250px; /* Tamaño fijo para las imágenes */
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.1); /* Añade una pequeña línea entre el contenido y la imagen */
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen se ajuste correctamente */
}

.btn-container {
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .clasess-container {
        padding: 20px;
    }

    .card-container {
        max-width: 300px;
        height: auto;
    }

    .card-data {
        padding: 20px;
    }

    .card-data h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .clasess-container {
        padding: 10px;
    }

    .card-container {
        max-width: 280px;
        height: auto;
    }

    .card-data h3 {
        font-size: 1rem;
    }
}
